// app global css in SCSS form
@font-face {
  font-family: 'SourceCodePro';
  src: url('./fonts/SourceCodePro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.topic-font textarea,
.topic-font input,
.topic-font-element {
  font-family: SourceCodePro;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 501px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #eee;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: #eee;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }

  ::-webkit-scrollbar-corner {
    background-color: #eee;
  }
}
